<!DOCTYPE html>
<html>

<head>
  <title>Image Caption Generation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head> 

<body background="{{ url_for('static', filename='image.jpg') }}" style="background-repeat: no-repeat; background-size: 1400px">
<h2> Image Captioning System</h2>
<form method="post" action="/" enctype="multipart/form-data">
    <!-- <img src="image.jpg" height= 100% width=100% style="position:fixed"> -->
    
    <div style="position: absolute; left: 500px; top: 50px;">
    	<h1 style="font-family: Garamond; color:teal;"><b>Select an Image to Upload</b></h1>

		<p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %} 
  {% endwith %}
</p>
{% if filename %}
  <div>
    <img src="{{ url_for('static', filename='uploads/'+filename) }}" height='340px' width='440px'>
  </div>
{% endif %}
<p><b>{{pred}}</b></p>
<br>
    <dl>
    <p>
      <input  type="file" name="file" autocomplete="off" required>
    </p>
    </dl>
    <p>
    <input class='btn btn-info btn-lg font-weight-bold' type="submit" value="Generate Captions!">
  </p>

</form>

</div>

</body>
</html>